*{
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar{
    display: none;
}

#container{
    width: 100vw;
    height: auto;
}

 /* 核心样式 */
 main {
    scroll-snap-type: y mandatory;
    /* 需要把滚动条设置到直接父容器，
    scroll-snap-type 才能生效，
    默认是在 body 上，现在是 main 上 */
    overflow: scroll;
    height: 100vh;
  }
  section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
  }



.liebiao{
    width: 30%; 
    height: 100vh;
    margin-left:0px;    
    transform: skew(-12deg);
    /*-moz-transform: skew(20deg);*/
    /*-o-transform: skew(10deg);*/
    background:#c4cbcf;
    float:right;
    left:40%;
	position:relative;
}
.bianyou{
	width: 60%;
    height: 100vh;
    margin-left:0px;
    transform: skew(-12deg);
    /*-moz-transform: skew(20deg);*/
    /*-o-transform: skew(10deg);*/
    background:#c4cbcf;
    float:right;
    left:100%;
	position:relative;
}
.bianzuo{
	width: 10%;
    height: 100vh;
    margin-left:0px;
    transform: skew(-12deg);
    /*-moz-transform: skew(20deg);*/
    /*-o-transform: skew(10deg);*/
    background:#c4cbcf;
    float:left;
    left:-20%;    
	position:relative;
}

.xiaoTXT{
    height: 100vh;
    background-color: #c4cbcf;
    color: #fff;
    font-size: 3vh;
	place-items: center;
    display: flex;/*grid*/
    justify-content: center;
    align-items: center;
}




/*
.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
*/



#kuang{
    width: 100vw;
    height: 100vh;
    position:relative;
    scroll-snap-align: center;
}

section{
    height: 100vh;
    background-color: #c4cbcf;
    color: #fff;
    font-size: 10vh;
	place-items: center;
    display: flex;/*grid*/
    justify-content: center;
    align-items: center;
}
.img{
    background-size: auto;
    background-position: center;
    overflow: hidden;
    position:absolute;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 100%;
    user-select: none;
    cursor: default;
}
#img1{
    background-image: url(images/1.jpg);
    /*https://i0.hdslb.com/bfs/album/b52c9d4bf71b59fe0d5c4b040bf9e8a573923ea6.jpg*/
}
#img2{
    background-image: url(images/3.jpg);
}
#img3{
    background-image: url(images/6.jpg);
}

ul {
    scroll-snap-type: y mandatory;
    list-style: none;
    height: 100%;
    width: 100%;
    position:relative;
    float:left;
    overflow: scroll;
    left:0px;
    top:0px;
  }
  
  li {
    scroll-snap-align: start;
    padding: 1em;
    text-align: center;
    font-size: 2em;
    position:relative;
  }
  
  li:nth-child(2n) {
    background: #ffffff;
  }
  
  li:nth-child(2n + 1) {
    background: #ffffff;
  }
