*{
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar{
    display: none;
}

#container{
    width: 100vw;
    height: auto;
}

 /* 核心样式 */
 main {
    scroll-snap-type: y mandatory;
    /* 需要把滚动条设置到直接父容器，
    scroll-snap-type 才能生效，
    默认是在 body 上，现在是 main 上 */
    overflow: scroll;
    height: 100vh;
}
#kuang{
    width: 100vw;
    height: 100vh;
    position:relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
section {
    width: 100vw;
    height: 100vh;
    /*scroll-snap-align: start;*/
}


#xianshineirong{
    width: 100%;
    height: 100vh;
    /*-moz-transform: skew(20deg);*/
    /*-o-transform: skew(10deg);*/
    background:#c4cbcf;
    position:relative;
}



.liebiao{
    width: 20%; 
    height: 100vh;
    margin-left:0px;    
    transform: skew(-12deg);
    /*-moz-transform: skew(20deg);*/
    /*-o-transform: skew(10deg);*/
    background:#c4cbcf;
    float:right;
    left:30%;
	position:relative;
}
.bianyou{
	width: 70%;
    height: 100vh;
    margin-left:0px;
    transform: skew(-12deg);
    /*-moz-transform: skew(20deg);*/
    /*-o-transform: skew(10deg);*/
    background:#c4cbcf;
    float:right;
    left:110%;
    position:relative;
}
.bianzuo{
	width: 10%;
    height: 100vh;
    margin-left:0px;
    transform: skew(-12deg);
    /*-moz-transform: skew(20deg);*/
    /*-o-transform: skew(10deg);*/
    background:#c4cbcf;
    float:left;
    left:-20%;    
	position:relative;
}



/*导航*/
#lan{
    position:fixed;
    right: 60px;
    top:90px;
    width: 50px;
    height: 80%;
    background-color: #f6f9fa;
    border: #e5e9ef;
}
















/*音乐播放图标*/
#icon{
    position:fixed;
    right: 10px;
    top:10px;
    width: 64px;
    height: 64px;
}
#icon_shadow{
    position:fixed;
    right: 10px;
    top:10px;
}
#icon_zhen{
    position:fixed;
    right: 12px;
    top:8px;
}



/*音乐播放进度*/
.totalProgress{
    position: fixed;
    top: 35px;
    right: 76px;
    width: 200px;
    height: 8px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0  2vh rgba(0, 255, 115, 0.57);
}
.currentProgress{
    width: 0;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #00a1d6;
}





















#xtxt3{
    height: 100vh;
    background-color: #c4cbcf;
    color: #ffffff;
    font-size: 3vh;
	place-items: center;
    display: flex;/*grid*/
    justify-content: center;
    align-items: center;
}
#xtxt7{
    height: 100vh;
    background-color: #c4cbcf;
    color: #ffffff;
    font-size: 3vh;
	place-items: center;
    display: flex;/*grid*/
    justify-content: center;
    align-items: center;
}
#xtxt11{
    height: 100vh;
    background-color: #c4cbcf;
    color: #ffffff;
    font-size: 3vh;
	place-items: center;
    display: flex;/*grid*/
    justify-content: center;
    align-items: center;
}
#xtxt15{
    height: 100vh;
    background-color: #c4cbcf;
    color: #ffffff;
    font-size: 3vh;
	place-items: center;
    display: flex;/*grid*/
    justify-content: center;
    align-items: center;
}


section{
    height: 100vh;
    background-color: #c4cbcf;
    color: #fff;
    font-size: 10vh;
	place-items: center;
    display: flex;/*grid*/
    justify-content: center;
    align-items: center;
}
.img{
    background-size: auto;
    background-position: center;
    overflow: hidden;
    position:absolute;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 100%;
    user-select: none;
    cursor: default;

    text-shadow:  
    0px 1px 0px #c0c0c0,  
    0px 2px 0px #b0b0b0,  
    0px 3px 0px #b5ffa7,  
    0px 4px 0px #87fa81,  
    0px 5px 10px rgba(54, 247, 141, 0.9);
}
/*图片无法加载在链接前面加这段试试*/
/*https://images.weserv.nl/?url=*/
/*
#img1{
    background-image: url(https://gzc-download.ftn.qq.com/ftn_handler/0035c63374930e9c2635604f7c9e3137e7812a9dfe92d6ff98c752734164bb8cfee21988f7c8b548fd4fe3ac47134987de27fcf7d379ef8f5b3c61c8b07de3fc/?fname=1.jpg&xffz=1530630&k=cfcb663206dd765efdb81e3230376534366f273232376534151b05530651510003021d0157530319040d55571f55035009195650510301555451095653036034011a5a4255233e60c846ac8398ec37182249a1f95507bbba5ee6&code=040227e4);
}
#img2{
    background-image: url(https://gzc-download.ftn.qq.com/ftn_handler/7957060a3084efd8b29f1faf315270f1baaf5f243007cb8ea0904058fb49e22c9e501496177b326dc45c3aacbe76d8e7d955a0fa5b81fc41c6d285b91225ff27/?fname=2.jpg&xffz=2277396&k=c79c6e6405d9775ef5ef1664333364342ca31a64313364341d4c0055090556060a55155753065d190c51085d1c5251575e4e0d0208055000015a0f50060061340a4d52145627e508c66fffa6468a829d0e7e14be9d4f8008680f&code=8c8d13d4);
}
#img3{
    background-image: url(https://gzc-download.ftn.qq.com/ftn_handler/fe50e3e99b47dceb23d2423b4e6bdf40ff7a3aa57f7e24c0e44ea46cf7d2e015a9778163ca7673d356ccf2d8f6fde7817a93667a25934ab111ee8602e9e5ee7a/?fname=3.jpg&xffz=1764984&k=c79c653301d2215bf5ef1d3337383231408d2933353832311d4c0705535d0b0908071e025600031c0c5b565718010b090e4e0a50015d07570e5b0106035e37310b4d5943522c0750344ab8317e2a6e58fcb05d0aeef19d4ca27f&code=8c335821);
}
#img4{
    background-image: url(https://gzc-download.ftn.qq.com/ftn_handler/274118a19f51146d85b2d35607d1d1047f93f03696f7492ef7d47a0df87dbb1092b1a0f2f623f8a572074a3817f24c6802015e9858f90b396b114c988acaba15/?fname=4.jpg&xffz=1840418&k=cb9b3731508b2109f9e84f316661326316717d3164613263114b56505400545b0d514c095153514e00075150495802070d4953575c00035a515d570151553763004a0b4103759e8af6fa0163b2563c76ad94ee3e331455987d1d&code=4da1da2c);
}
#img5{
    background-image: url(https://gzc-download.ftn.qq.com/ftn_handler/1eba06fb22817427be318707adf6bc7ad5ff03c2fd66be6e6facfc474fa46dfdc208299555186dd89f322b081958da2ac16ada30c938fdfb8b6d1f35da6145fa/?fname=5.jpg&xffz=1077739&k=9a9b303151dd225ca8e84831673731368e15763165373136404b02070003545453554b075600061b51055e04480e550600490400035153025402050600063436504a0c410223b2c7159841f199715bab6027456c0bd86051db72&code=edf1e716);
}
#footer{
    background-image: url(https://gzc-download.ftn.qq.com/ftn_handler/748242ce93cfd8ec7aff5e5551b5fe0b729b068d91167d85f86e2af9d3545c6c9f713c9c549683c690f6a9cfbd10baf33d94ef2433c577728a766043c6f1f7ba/?fname=0.jpg&xffz=2041736&k=cccc6f3550882252febf173566623138bb14263564623138161c0d010003085e0301145456040315070b580c495a545a0b1e0a535450520e07575c0d51003438031d534503763a14c77309875e5af2bc38e8f2ba7ad93ea73c06&code=3395db18);
}
*/


#img1{
    background-image: url(https://weibo.com/ajax/common/download?pid=008d4Tvygy1gzj9x2v94vj31hc0u04lr);
}
#img2{
    background-image: url(https://weibo.com/ajax/common/download?pid=008d4Tvygy1gzj9x6s8kbj31hc0u01kx);
}
#img3{
    background-image: url(https://weibo.com/ajax/common/download?pid=008d4Tvygy1gzj9x93jq4j31hc0u0x0o);
}
#img4{
    background-image: url(https://weibo.com/ajax/common/download?pid=008d4Tvygy1gzj9xcbnb2j31qy0zf1kx);
}
#img5{
    background-image: url(https://weibo.com/ajax/common/download?pid=008d4Tvygy1gzj9xdub1cj31hc0u0ts4);
}
#footer{
    background-image: url(https://weibo.com/ajax/common/download?pid=008d4Tvygy1gzj9x0tnt0j31jk0uk7wh);
}



ul {
    scroll-snap-type: y mandatory;
    list-style: none;
    height: 100%;
    width: 100%;
    position:relative;
    float:left;
    overflow: scroll;
    left:0px;
    top:0px;
}
  
li {
    width: 100;
    height: 10vh;
    display:flex;  /*盒子模型*/
    flex-direction: row;  /*横向*/
    justify-content: space-around; /*主轴居中*/
    align-items: center; /*纵轴居中*/
    font-size: 2em;
    transition-duration: 0.4s;
}
li:hover{
    box-shadow: 0 0  2vh rgb(0, 0, 0) inset;
}
li:active{
    box-shadow: 0 0  2vh rgba(0, 255, 115, 0.57) inset;
}
li:nth-child(2n) {
    background: #ffffff;
}
li:nth-child(2n + 1) {
    background: #ffffff;
}

.p.test
{
width:12em; 
border:1px solid #c02525;
word-wrap:break-word;
}
